mat-card {
  margin: 10px;

  img {
    object-fit: cover;
    width: 100%;
    height: 400px;
  }

  mat-chip.tag {
    color: #fff;
    opacity: 1;
    background: rgba(37, 89, 134, 0.5);
  }

  mat-card-actions {
    padding: 10px
  }
}
