<mat-toolbar class="toolbar">
  Find & Bookmark Image
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    class="mat-elevation-z8"
    mode="side"
    opened>
    <div class="sidenav__buttons">
      <button
        mat-button
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon
          class="sidenav__button"
          aria-hidden="false"
          aria-label="Search Page">
          cloud
        </mat-icon>
      </button>
      <button
        mat-button
        routerLink="/bookmarks"
        routerLinkActive="active">
        <mat-icon
          class="sidenav__button"
          aria-hidden="false"
          aria-label="Bookmarks">
          bookmarks
        </mat-icon>
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="content mat-elevation-z8" >
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<mat-toolbar class="toolbar">
  @copyright
</mat-toolbar>
