<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" mode="side" opened>
    <div class="sidenav__buttons">
      <button mat-button routerLink="/">
        <mat-icon class="sidenav__button" aria-hidden="false" aria-label="Search Page">cloud</mat-icon>
      </button>
      <button mat-button routerLink="/bookmarks">
        <mat-icon class="sidenav__button"  aria-hidden="false" aria-label="Bookmarks">photo_album</mat-icon>
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
