<mat-form-field appearance="fill">
  <mat-label>Find Images</mat-label>
  <input matInput>
</mat-form-field>
<!--<mat-grid-list [cols]="columns" rowHeight="400px" gutterSize="30px" (window:resize)="onResize()">-->
<!--  <mat-grid-tile *ngFor="let image of images" fxFlexAlign="end">-->
<div class="container">
  <div class="row columns is-multiline">
    <ng-container *ngFor="let image of images">
      <app-image-card class="column" [image]="image"></app-image-card>
      <!--  </mat-grid-tile>-->
      <!--</mat-grid-list>-->
    </ng-container>
  </div>
</div>
