<ng-template #paginator>
  <mat-paginator [length]="length"
                 [pageSize]="pageSize"
                 [pageIndex]="pageIndex"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="pageEvent = initImages($event)">
  </mat-paginator>
</ng-template>

<mat-form-field appearance="fill">
  <mat-label class="label">Find Images</mat-label>
  <input
    class="input"
    matInput
    #searchInput>
</mat-form-field>
<ng-container *ngIf="imagesData.photo.length > 1">
  <ng-container [ngTemplateOutlet]="paginator"></ng-container>
  <app-images-list [images]="imagesData.photo" [bookmarkIt]="true"></app-images-list>
  <ng-container [ngTemplateOutlet]="paginator"></ng-container>
</ng-container>

